.leaflet-interactive {
}

.lasso-classname {
    stroke: black;
    stroke-width: 0.05em;
    fill: black;
    opacity: 0.6;
    fill-opacity: 0.4;
}

.popup-classname {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 150px;
    z-index: 9;
}

.plotly-tooltip::after {
  content: " ";
  position: absolute;
  bottom: 99%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}